<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Onboarding form 360F (Contract Details)</h2>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    {{ form.fname.label }}
                    {{ form.fname(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.lname.label }}
                    {{ form.lname(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.job_title.label }}
                    {{ form.job_title(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.salary.label }}
                    {{ form.salary(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.annual_leave_days.label }}
                    {{ form.annual_leave_days(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.working_hours_per_week.label }}
                    {{ form.working_hours_per_week(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.start_date.label }}
                    {{ form.start_date(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.contract_duration.label }}
                    {{ form.contract_duration(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.fringe_benefit.label }}
                    {{ form.fringe_benefit(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.group_insurance_coverage.label }}
                    {{ form.group_insurance_coverage(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.special_arrangements.label }}
                    {{ form.special_arrangements(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.send(class="btn btn-primary") }}
                    <button type="button" name="back" class="btn btn-success"><a href="{{ url_for('form1') }}" class="back">BACK</a></button>
                </fieldset>
        </form>
    </div>
</body>
</html>
