<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Onboarding form 360F (General Details)</h2>
        <br>
        <form method="post" action="">
            {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    {{ form.fname.label }}
                    {{ form.fname(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.lname.label }}
                    {{ form.lname(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.address.label }}
                    {{ form.address(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.city.label }}
                    {{ form.city(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.province.label }}
                    {{ form.province(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.postal_code.label }}
                    {{ form.postal_code(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    {{ form.country.label }}
                    {{ form.country(class="form-control") }}
                </fieldset>

                <fieldset class="form-group">
                    <button type="button" class="btn btn-success"><a href="{{ url_for('hi') }}" class="back">BACK</a></button>
                    {{ form.next(class="btn btn-success") }}
                </fieldset>
        </form>
    </div>
</body>
</html>
