<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h4>submit success</h4>
{#        <a href="{{ url_for('.download_general') }}" class="btn btn-success"> Generate Excel Report For General Details</a>#}
{#        <a href="{{ url_for('.download_contract') }}" class="btn btn-success"> Generate Excel Report For Contract Details</a>#}
    </div>
</body>
